# Deshabilitar ejecución de scripts en la carpeta de uploads por seguridad
<FilesMatch "(?i)\.(php|phtml|php3|php4|php5|php7|php8|phps|cgi|pl|exe|sh)$">
    Order Deny,Allow
    Deny from all
</FilesMatch>
Options -ExecCGI
